@tailwind base;
@tailwind components;
@tailwind utilities;

.contrast-text {
  mix-blend-mode: difference;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

/* For mobile logic, we will use text shadows in the component styles */

@layer base {
  body {
    @apply bg-transparent;
  }
}